.team__item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
    & + & {
        margin-top: 30px;
        }
    }
}

        @media screen and (min-width: 768px) and (max-width: 1199px) {
.team {
    display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin: -15px;
}

            .team__item {
                width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
            }
        }

        @media screen and (min-width: 1200px) {
            .team {
            display: flex;
        padding-left: 0;
        }

        .team__item {
        & + & {
            margin-left: 30px;
            }
    }
}

.team__box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.section_padding_bc {
    background-color: var(--secondary-background-color);
}